modules = ["nodejs-22"]
run = "npm run dev"
entrypoint = "src/dev.ts"

[nix]
channel = "stable-24_05"

[deployment]
build = ["npm", "run", "build"]
run = ["npm", "start"]
deploymentTarget = "reserved-vm"
